
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
*::after
*::before {
box-sizing: inherit; 
}


/* FONTS */


/* @import "./fonts.css"; */

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/montserrat-v13-latin-700.woff),
       url("../fonts/montserrat-v13-latin-700.woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
   font-family: "Montserrat";
   src:url("../fonts/montserrat-v13-latin-regular.woff"),
       url(../fonts/montserrat-v13-latin-regular.woff2);
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: "Pt-sans";
    src: url(../fonts/pt-sans-v10-latin-700.woff),
         url(../fonts/pt-sans-v10-latin-700.woff2);
    font-weight: 700;
    font-style: normal;
}


@font-face {
  font-family: "Pt-sans";
    src: url(../fonts/pt-sans-v10-latin-regular.woff),
         url(../fonts/pt-sans-v10-latin-regular.woff2);
    
    font-weight: 400;
    font-style: normal;
}


/* FONTS */


.container{
width: 940px;
margin: 0 auto;
}
/*  ---------------------------------------------------- */
.page-nav{
height: 90px;
display: flex;
justify-content: space-between;
align-items: flex-end;
}
.menu-item-link{
text-decoration: none;
font-size: 26px;
font-family: "Wisdom";
color: rgb(190, 230, 17);
line-height: 1.577;
  
}

.menu {
width: 490px;
display: flex;
justify-content: space-between;
list-style: none;
}

.menu-item{
position: relative;
text-decoration: none;
text-transform: uppercase;
flex-grow: 0;
flex-shrink: 0;
}		


.menu-item-link:focus,
.menu-item-link:hover{
color: rgb(243, 129, 129);
cursor: pointer;
transition: color .2s linear;  
}   
.menu-item a {
display: block;
text-transform: uppercase;
text-decoration: none;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
color: rgb(149, 225, 211);
font-size: 14px;
padding-bottom: 10px;
text-align: center;
}
.menu-item-link::after {
position: absolute;
content:"";
width: 0;
height: 2px;
background: #f38181;
color: #f38181;
bottom: 0;
left: 50%;
transition: width .2s linear,
  left .2s linear,
  color .2s linear;   
}
.menu-item-link:focus::after, 
.menu-item-link:hover::after {
color: #f38181;
width: 100%;
left:0;
}

/* --------------------------------MENU------------------ */
.main {
padding-top: 120px;
padding-bottom: 120px;
}


.main-title {
font-family: Montserrat, sans-serif;
font-size: 40px;
text-align: center;
text-transform: uppercase;
font-weight: 700;
color: rgb(34, 34, 34);
line-height: 1.875;
}


.main-subtitle{
font-size: 16px;
font-family: "PT Sans", sans-serif;
color: rgb(119, 119, 119);
line-height: 1.2;
text-align: center;
padding-bottom: 72px;
}


.main-header {
  margin-bottom: 74px;
}


.cards {
  display: flex;
  justify-content: space-between;
}

.cards-item {

flex: 0 0 290px;
text-align: center;

}

.card-image {
  display: inline-block;
  width:70px;
  height: 70px;
  border-style: solid; 
  border-width: 3px;
  border-color: rgb(254, 209, 54);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-1 {
  background-image: url("../img/Icon-Basket.png");
}


.icon-2 {
  background-image: url("../img/Icon-Laptop.png");
}
.icon-3 {
  background-image: url("../img/Icon-Locked.png");
}

/* FOOTER */

.footer {
  height: 680px;
  background: url("../img/Map_Image.png"),
  rgb(34, 34, 34);
  background-repeat: no-repeat;
  padding-top: 106px;
  background-position: right;
}


.main-title-footer {
  font-size: 40px;
  font-family: Montserrat, sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

.wrap-input {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 210px;
  padding-bottom: 30px;
}

.input-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input {
  width: 455px;
   padding-left: 21px;
  text-transform: uppercase;
}

.ia-input {
  flex: 0 0 52px;
}

.message {
  padding-top: 16px;
  height: 100%;
  resize: none;
}

.button {
  text-transform: uppercase;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 25px;
  padding-bottom: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
	background-color: gold;
	border: 1px solid gold;
	border-radius: 5px;
	font-family: "Monserrat";
	font-size: 18px;
	color: white;
	font-weight: 800


}